.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  
}
.wapper-container {
  padding-top: 120px;
  grid-column: 1 /span 5;
  grid-row: 1/ span 5;
  

}
.formal-text{
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
 
  font-size: 30px;

}

.home-container {
  grid-column: 1 /span 5;
  grid-row: 1/ span 5;
}

.home-container h1{
  font-weight: 700;
  text-decoration-line: underline;
}

.backgroundImg{
  background-image: url('/danceBKGD.jpg');
  background-size: cover;
  min-height: 100vh;
  grid-column: 1 /span 5;
  grid-row: 1/ span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  
}

a {
  color:#E4F2E6;
}

.btn {
  border-top: 1px solid #96d1f8;
  background: #d4658a;
  background: -webkit-gradient(linear, left top, left bottom, from(#730341), to(#d4658a));
  background: -webkit-linear-gradient(top, #730341, #d4658a);
  background: -moz-linear-gradient(top, #730341, #d4658a);
  background: -ms-linear-gradient(top, #730341, #d4658a);
  background: -o-linear-gradient(top, #730341, #d4658a);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #e4f2e6;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  margin: 10px;
  }
.btn:hover {
  border-top-color:  #96d1f8;
  background: #6e0638;
  color: #ccc;
  
  }
.btn:active {
  border-top-color:  #96d1f8;
  background: #400a22;
  }

/*******  Navigation Menue  **************/
.nav-bar-container {
  min-width: 100%;
  max-height: 15vh;
  z-index: 1;
  background-color:#730341;
  color:#E4F2E6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  transition: top 0.3s;
}
.nav-header {
  
  text-align: left;
  padding-left: 10px;
  grid-row: 1/ span 2;
  grid-column: 1/ span 2;

}

.nav-header h1 {
 padding-left: 50px;
 font-family: 'Atomic Age', cursive;
 font-stretch: expanded;
 font-size: 50px;
 text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-links {
  text-align: right;
  grid-row: 3/ span 2;
  grid-column: 4/ span 2;
 
}
.nav-links ul{
   list-style-type: none; 
   display: inline;
   
  
  
   
    
}

.nav-links li {
  display: inline;
  padding: 10px 10px 0px 10px;
  box-shadow: 1px 1px #eee, 3px 3px #eee, 5px 5px #eee, 7px 7px #eee, 9px 9px #eee;
  transition: all 0.12s ease 0s;
  transition-property: all;
  transition-duration: 0.12s;
  transition-timing-function: ease;
  transition-delay: 0s;
  font-size: 30px;
  margin: 0px 15px 0px 15px;
  font-family: 'Roboto Mono', monospace;

}

.nav-links a {
  text-decoration: none;
}

.nav-links li:hover {
box-shadow: 0 0  #730341;
}

/***************  Main Studio Page  **********************/


.studio-title {
  text-decoration: none;
  list-style-type: none; 
  color: #730341;
  
}
.studios-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.studios-container .bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.studios-container .bg-video #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}
.studios-container .bg-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.home-studio-banner  {
  color: #730341;
  text-align: center;
  margin-top: 20vh;
  font-size: 95px;
  text-shadow: 3px 3px 9px black;
  text-decoration: none;
  font-weight: 700;
  text-decoration-line: underline;
  font-family: 'Faster One', cursive;
  
}

.studio-template h2 {
  font-family: 'Atomic Age', cursive;
  font-size: 50px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  transition: transform .2s;
}
.studio-template h2:hover {
  transform: scale(1.5);
}

.studios-container p {
  color: #730341;
  font-weight: 600;
}






/******* CSS for Form  ***********/
.form{
  border-radius: 5px;
  background-color: rgba(56, 56, 56, 0.5);
  padding: 20px;
  max-width: 800px;
  position: relative;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  color: #ccc;
  font-family: 'Roboto Mono', monospace;

  
}

.form input[type=text], textarea, input[type=tel] , select {
  width: 100%; 
  padding: 8px;
  background-color: rgba(255, 255, 255, .5); 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical ;
  color: #730341;
  font-weight: 700;
  font-size: 15px;
  
}



.rep-header{
  grid-column: 1/ span 5;
  color: #730341;
  font-family: 'Atomic Age', cursive;
  text-align: center;
  margin-top: 20vh;
  font-size: 50px;
  text-shadow: 3px 3px 9px black;
  text-decoration: none;
  font-weight: 700;
}

.add-studio{
grid-row: 2/ span 2;
grid-column: 2/ span 5;
}
.add-studio label {
  grid-column: 1 / 2;
  font-size: 20px;
  align-self: center;
  text-align: left;
}

.add-studio input,
button {
  grid-column: 2 / 3;
}

.edit-studio {
  grid-row: 1/ span 3;
  grid-column: 2/ span 5;
}

.edit-studio h3{
  font-size: 40px;
  text-align: left;
}

.edit-studio-form label {
  grid-column: 1 / 2;
  font-size: 20px;
  align-self: center;
  text-align: left;
}

.edit-studio-form input,
button {
  grid-column: 2 / 3;
}




/*********  single-studio-container ****************/
.new-class {
  grid-row: 2/ span 2;
  grid-column: 2/ span 5;
}
.new-class input,
button {
  grid-column: 2 / 3;
}

.new-class label {
  grid-column: 1 / 2;
  font-size: 20px;
  align-self: center;
  text-align: left;
}

.new-class h1 {
  text-align: left;
  
}

.single-studio-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
.single-studio-container a {
  text-decoration: none;
}

.studio-info-container {
  grid-row: 1/ span 5;
  grid-column: 2/ span 3;
  background-color: rgba(56, 56, 56, 0.5);
}

.studio-info-container-title {
  font-family: 'Atomic Age', cursive;
  text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
  font-size: 40px;
  
}

.studio-info-container p {
  font-size: 25px;
  font-weight: 500;
}

  /********** single class info container  ******/

  .class-info-container {
    color: white;
    grid-row: 1/ span 1;
    grid-column: 2/ span 3;
  }
  .edit-class {
    grid-row: 2/ span 2;
    grid-column: 2/ span 5;
  }
  
  .edit-class-form label {
    grid-column: 1 / 2;
    font-size: 20px;
    align-self: center;
    text-align: left;
  }
  
  .edit-class-form input,
  button {
    grid-column: 2 / 3;
  }

  /***** You Tube Contaner *******/

  .class-div {
    color: white;
    grid-column: 1 /span 5;
    grid-row: 1/ span 5;
  }

  .class-div .back {
   text-align: left;
   
   padding-left: 10px;
  }
  .back a {
    color: #730341;
    text-decoration: none;
  }

  .studio-info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 410px 1fr;
    
  }
  .studio-info-container .top {
    grid-column: 1/ span 4;
  }

  .studio-info-container .bottom {
    padding-top: 20px;
    grid-column: 1/ span 4;
    grid-row: 2 /span 1;
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8 , 300px);
    max-height: 600px;
    grid-auto-flow: row;
    grid-gap: 5px;
  
  }

.class-info-container h1 {
  color: #730341;
  font-size: 50px;
  text-shadow: 3px 3px 9px black;
  font-family: 'Atomic Age', cursive;
}
.class-info-container p {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

.danceCard {
  max-width: 400px;
  max-height: 400px;
  background-size: cover;
  padding-left: 10px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows:  repeat(3, 1fr);
  
}

.danceCard h1 {
  grid-row: 1/ span 1;
  grid-column: 1/ span 3;
  justify-self: left;
}

.danceCard p {
  grid-row: 2/ span 1;
  grid-column: 1/ span 3;
}



.danceCard form {
  grid-row: 3/ span 1;
  grid-column: 1/ span 3;
  
  justify-self: right;
}


  .youTube-container {
    grid-column: 1 /span 5;
    grid-row: 3/ span 2;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;


  }

  .ytVideo {
    max-width: 400px;
    max-height: 500px;
    padding: 10px;
  }
