.App {
  text-align: center;
  
}
.wapper-container {
  padding-top: 130px;
  

}

.backgroundImg{
  background-image: url('/danceBKGD.jpg');
  background-size: cover;
  min-height: 100vh;
}

.btn {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 9px 18px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 13px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  margin: 10px;
  }
.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
  }
.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
  }

/*******  Navigation Menue  **************/
.nav-bar-container {
  min-width: 100%;
  
  
}
.nav-header {
  padding-top: 10px;
  text-align: left;
  color:red;
  padding-left: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-links {
  text-align: right;
}
.nav-links ul{
   list-style-type: none; 
   display: inline;
   padding-right: 10px;
  
   
    
}

.nav-links li {
  display: inline;
  
  padding: 10px 10px 0px 10px;
  font-size: 30px;
  margin: 0px 15px 0px 15px;

}

.nav-links a {
  text-decoration: none;
}

.nav-links li:hover {
border-bottom: 1px solid #000000;
}

/***************  Main Studio Page  **********************/


.studio-title {
  text-decoration: none;
  list-style-type: none; 
  
}

.studios-container .bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.studios-container .bg-video #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}
.studios-container .bg-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.studios-container h1 {
  color: white;
  text-align: center;
  margin-top: 20vh;
  font-size: 64px;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
}

/******* CSS for Form  ***********/
.form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 300px;
  position: relative;
  
}

.form input[type=text], textarea, input[type=number] {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

/*********  single-studio-container ****************/

.single-studio-container {
    color: white;

}