.App {
  text-align: center;
}

.wapper-container {
  padding-top: 130px;
}
/*******  Navigation Menue  **************/
.nav-bar-container {
  min-width: 100%;
  
  
}
.nav-header {
  padding-top: 10px;
  text-align: left;
  color:red;
  padding-left: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-links {
  text-align: right;
}
.nav-links ul{
   list-style-type: none; 
   display: inline;
   padding-right: 10px;
  
   
    
}

.nav-links li {
  display: inline;
  
  padding: 10px 10px 0px 10px;
  font-size: 30px;
  margin: 0px 15px 0px 15px;

}

.nav-links li:hover {
border-bottom: 1px solid #000000;
}

/***************  Main Studio Page  **********************/


.studios-container {

}

.studios-container .bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.studios-container .bg-video #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}
.studios-container .bg-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.studios-container h1 {
  color: white;
  text-align: center;
  margin-top: 35vh;
  font-size: 64px;
  text-shadow: 1px 1px 3px black;
}
.form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 300px;
  position: relative;
  
}

.form input[type=text], textarea, input[type=number] {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}